<header class="desktop-header-1 d-flex align-items-start flex-column">
    <!-- logo image -->
    <div class="site-logo">
        <a href="/"><img src="{{ STATIC_URL }}portfolio/images/logo_transparent.png" alt="JabHax" /></a>
    </div>

    <!-- main menu -->
    <nav>
        <ul class='vertical-menu'>
            <li class='active'><a href='#'><i class='icon-home'></i>Home</a></li>
            <li><a href='/#about' data-target='#'><i class='icon-user-following'></i>About</a></li>
            <li><a href='/#skills'><i class='icon-fire'></i>Skills</a></li>
            <li><a href='/#education'><i class='icon-graduation'></i>Education</a></li>
            <li><a href='/#experience'><i class='icon-briefcase'></i>Experience</a></li>
            <li><a href='/#projects'><i class='icon-layers'></i>Projects</a></li>
            <li><a href='/#blog'><i class='icon-note'></i>Blog</a></li>
            <li><a href='/#contact'><i class='icon-bubbles'></i>Contact</a></li>
        </ul>
    </nav>

    <!-- site footer -->
    <div class='footer'>
        <!-- copyright text -->
        <span class='copyright'>© 2020 JabHax.</span>
    </div>
</header>
