<!-- section experience -->
<div class="container">
    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Experience</h2>
    <div class="spacer" data-height="60"></div>
    <div class="row d-flex justify-content-center align-self-center"></div>
    <div class="row">
        <div class="col-md-6">
            <!-- timeline wrapper -->
            <div class="timeline exp bg-dark rounded shadow-light padding-30 overflow-hidden">
                {% if experiences %}
                {% for exp in experiences %}
                <!-- timeline item -->
                <div class="timeline-container wow fadeInUp">
                    <div class="content">
                        <span class="time">{{ exp.start_date }} ~ {{ exp.end_date }}</span>
                        <h6 class="title">
                            <strong>{{ exp.title }}</strong> @ {{ exp.company_name }}
                        </h6>
                        <ul>
                            {% for responsibility in exp.responsibilities %}
                            <li>{{ responsibility }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <!-- main line -->
                <span class="line"></span>
            </div>
        </div>
        <div class="col-md-6">
            <!-- responsive spacer -->
            <div class="spacer d-md-none d-lg-none" data-height="30"></div>

            <!-- timeline wrapper -->
            <div class="timeline exp bg-dark rounded shadow-light padding-30 overflow-hidden">

                {% if experiences %}
                    {% for exp2 in experiences2 %}
                        <!-- timeline item -->
                        <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                            <div class="content">
                                <span class="time">{{ exp2.start_date }} ~ {{ exp2.end_date }}</span>
                                <h6 class="title">
                                    <strong>{{ exp2.title }}</strong> @ {{ exp2.company_name }}
                                </h6>
                                <ul>
                                    {% for responsibility in exp2.responsibilities %}
                                    <li>{{ responsibility }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% if exp2.company_name == 'Xactly Corp.'%}
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <br/>

                <!-- main line -->
                <span class="line"></span>
            </div>
        </div>
    </div>
</div>
