<!-- Projects/Portfolio Section -->
{% load static %}

<!-- section works -->
<div class="container">

    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Projects</h2>
    <div class="spacer" data-height="60"></div>

    <!-- portfolio filter (desktop) -->
    <ul class="portfolio-filter list-inline wow fadeInUp">
        <li class="current list-inline-item" data-filter="*">Everything</li>
        <li class="list-inline-item" data-filter=".Frontend">Frontend</li>
        <li class="list-inline-item" data-filter=".Backend">Backend</li>
        <li class="list-inline-item" data-filter=".Fullstack">Fullstack</li>
        <li class="list-inline-item" data-filter=".Other">Other</li>
    </ul>

    <!-- portfolio filter (mobile) -->
    <div class="pf-filter-wrapper">
        <select class="portfolio-filter-mobile">
            <option value="*">Everything</option>
            <option value=".Frontend">Frontend</option>
            <option value=".Backend">Backend</option>
            <option value=".Fullstack">Fullstack</option>
            <option value=".Other">Other</option>
        </select>
    </div>

    <!-- portolio wrapper -->
    <div class="row portfolio-wrapper">
        {% if projects %}
        {% for project in projects %}
        <!-- portfolio item -->
        <div class="col-md-4 col-sm-6 grid-item {{ project.category }}">
            <a class='work-image' href='{{ project.image.url }}'></a>
                <div class="portfolio-item rounded shadow-dark">
                    <div class="details">
                        <span class="term">{{ project.category }}</span>
                        <a href='{{ project.url }}'><h4 class="title">{{ project.title }}</h4></a>
                        <span class="more-button"><i class="icon-link"></i></span>
                    </div>
                    <div class="thumb">
                        {% if project.url %}
                            <img src="{{ project.image.url }}" alt="Portfolio-title" style="overflow:none; width:330px; height:267px;"/>
                        {% else %}
                            <img src="https://via.placeholder.com/330x267" alt="Portfolio-title" />
                        {% endif %}
                        <div class="mask"></div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
            <h4>No Projects</h4>
        {% endif %}
    </div>

    <!-- more button -->
    <div class="load-more text-center mt-4">
        <a href="javascript:" class="btn btn-default"><i class="fas fa-spinner"></i> Load more</a>
        <!-- numbered pagination (hidden for infinite scroll) -->
        <ul class="portfolio-pagination list-inline d-none">
            <li class="list-inline-item">1</li>
            <li class="list-inline-item">
                <section id='projects-2' class='projects-2'>{% include 'portfolio/projects-2.html' %}</section>
                <a href="#projects-2">2</a>
            </li>
        </ul>
    </div>

</div>
